services:
  postgres:
    image: postgres:latest
    container_name: webhooks_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webhooks
    ports:
      - '5432:5432'
